src/META-INF/wsdl/idserver_8181/IDTrackerServer/idtrackerws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller/" name="idtrackerws">
<types>
<xsd:schema>
<xsd:import namespace="http://controller/" schemaLocation="https://idserver:8181/IDTrackerServer/idtrackerws?xsd=1"/>
</xsd:schema>
</types>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="getCustomers">
<part name="parameters" element="tns:getCustomers"/>
</message>
<message name="getCustomersResponse">
<part name="parameters" element="tns:getCustomersResponse"/>
</message>
<message name="getDisplayCustomers">
<part name="parameters" element="tns:getDisplayCustomers"/>
</message>
<message name="getDisplayCustomersResponse">
<part name="parameters" element="tns:getDisplayCustomersResponse"/>
</message>
<message name="saveCustomer">
<part name="parameters" element="tns:saveCustomer"/>
</message>
<message name="saveCustomerResponse">
<part name="parameters" element="tns:saveCustomerResponse"/>
</message>
<message name="getCustomerByID">
<part name="parameters" element="tns:getCustomerByID"/>
</message>
<message name="getCustomerByIDResponse">
<part name="parameters" element="tns:getCustomerByIDResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="saveAddress">
<part name="parameters" element="tns:saveAddress"/>
</message>
<message name="saveAddressResponse">
<part name="parameters" element="tns:saveAddressResponse"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="checkIsValidSession">
<part name="parameters" element="tns:checkIsValidSession"/>
</message>
<message name="checkIsValidSessionResponse">
<part name="parameters" element="tns:checkIsValidSessionResponse"/>
</message>
<message name="removePartner">
<part name="parameters" element="tns:removePartner"/>
</message>
<message name="removePartnerResponse">
<part name="parameters" element="tns:removePartnerResponse"/>
</message>
<portType name="idtrackerws">
<operation name="logout">
<input wsam:Action="http://controller/idtrackerws/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://controller/idtrackerws/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="getCustomers">
<input wsam:Action="http://controller/idtrackerws/getCustomersRequest" message="tns:getCustomers"/>
<output wsam:Action="http://controller/idtrackerws/getCustomersResponse" message="tns:getCustomersResponse"/>
</operation>
<operation name="getDisplayCustomers">
<input wsam:Action="http://controller/idtrackerws/getDisplayCustomersRequest" message="tns:getDisplayCustomers"/>
<output wsam:Action="http://controller/idtrackerws/getDisplayCustomersResponse" message="tns:getDisplayCustomersResponse"/>
</operation>
<operation name="saveCustomer">
<input wsam:Action="http://controller/idtrackerws/saveCustomerRequest" message="tns:saveCustomer"/>
<output wsam:Action="http://controller/idtrackerws/saveCustomerResponse" message="tns:saveCustomerResponse"/>
</operation>
<operation name="getCustomerByID">
<input wsam:Action="http://controller/idtrackerws/getCustomerByIDRequest" message="tns:getCustomerByID"/>
<output wsam:Action="http://controller/idtrackerws/getCustomerByIDResponse" message="tns:getCustomerByIDResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://controller/idtrackerws/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://controller/idtrackerws/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="saveAddress">
<input wsam:Action="http://controller/idtrackerws/saveAddressRequest" message="tns:saveAddress"/>
<output wsam:Action="http://controller/idtrackerws/saveAddressResponse" message="tns:saveAddressResponse"/>
</operation>
<operation name="loginUser">
<input wsam:Action="http://controller/idtrackerws/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://controller/idtrackerws/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
<operation name="checkIsValidSession">
<input wsam:Action="http://controller/idtrackerws/checkIsValidSessionRequest" message="tns:checkIsValidSession"/>
<output wsam:Action="http://controller/idtrackerws/checkIsValidSessionResponse" message="tns:checkIsValidSessionResponse"/>
</operation>
<operation name="removePartner">
<input wsam:Action="http://controller/idtrackerws/removePartnerRequest" message="tns:removePartner"/>
<output wsam:Action="http://controller/idtrackerws/removePartnerResponse" message="tns:removePartnerResponse"/>
</operation>
</portType>
<binding name="idtrackerwsPortBinding" type="tns:idtrackerws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDisplayCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkIsValidSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="idtrackerws">
<port name="idtrackerwsPort" binding="tns:idtrackerwsPortBinding">
<soap:address location="https://idserver:8181/IDTrackerServer/idtrackerws"/>
</port>
</service>
</definitions>