src/META-INF/idtrackerws.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller/" name="idtrackerws" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://controller/" schemaLocation="http://idserver:8080/IDTrackerServer/idtrackerws?xsd=1"/>
</xsd:schema>
</types>
<message name="getCustomersBySurname">
<part name="parameters" element="tns:getCustomersBySurname"/>
</message>
<message name="getCustomersBySurnameResponse">
<part name="parameters" element="tns:getCustomersBySurnameResponse"/>
</message>
<message name="getCar">
<part name="parameters" element="tns:getCar"/>
</message>
<message name="getCarResponse">
<part name="parameters" element="tns:getCarResponse"/>
</message>
<message name="getMembershipCharges">
<part name="parameters" element="tns:getMembershipCharges"/>
</message>
<message name="getMembershipChargesResponse">
<part name="parameters" element="tns:getMembershipChargesResponse"/>
</message>
<message name="saveCustomer">
<part name="parameters" element="tns:saveCustomer"/>
</message>
<message name="saveCustomerResponse">
<part name="parameters" element="tns:saveCustomerResponse"/>
</message>
<message name="getExpiredIDs">
<part name="parameters" element="tns:getExpiredIDs"/>
</message>
<message name="getExpiredIDsResponse">
<part name="parameters" element="tns:getExpiredIDsResponse"/>
</message>
<message name="getCustomerByID">
<part name="parameters" element="tns:getCustomerByID"/>
</message>
<message name="getCustomerByIDResponse">
<part name="parameters" element="tns:getCustomerByIDResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="testImage">
<part name="parameters" element="tns:testImage"/>
</message>
<message name="testImageResponse">
<part name="parameters" element="tns:testImageResponse"/>
</message>
<message name="saveAddress">
<part name="parameters" element="tns:saveAddress"/>
</message>
<message name="saveAddressResponse">
<part name="parameters" element="tns:saveAddressResponse"/>
</message>
<message name="getCustomers">
<part name="parameters" element="tns:getCustomers"/>
</message>
<message name="getCustomersResponse">
<part name="parameters" element="tns:getCustomersResponse"/>
</message>
<portType name="idtrackerws">
<operation name="getCustomersBySurname">
<input wsam:Action="http://controller/idtrackerws/getCustomersBySurnameRequest" message="tns:getCustomersBySurname"/>
<output wsam:Action="http://controller/idtrackerws/getCustomersBySurnameResponse" message="tns:getCustomersBySurnameResponse"/>
</operation>
<operation name="getCar">
<input wsam:Action="http://controller/idtrackerws/getCarRequest" message="tns:getCar"/>
<output wsam:Action="http://controller/idtrackerws/getCarResponse" message="tns:getCarResponse"/>
</operation>
<operation name="getMembershipCharges">
<input wsam:Action="http://controller/idtrackerws/getMembershipChargesRequest" message="tns:getMembershipCharges"/>
<output wsam:Action="http://controller/idtrackerws/getMembershipChargesResponse" message="tns:getMembershipChargesResponse"/>
</operation>
<operation name="saveCustomer">
<input wsam:Action="http://controller/idtrackerws/saveCustomerRequest" message="tns:saveCustomer"/>
<output wsam:Action="http://controller/idtrackerws/saveCustomerResponse" message="tns:saveCustomerResponse"/>
</operation>
<operation name="getExpiredIDs">
<input wsam:Action="http://controller/idtrackerws/getExpiredIDsRequest" message="tns:getExpiredIDs"/>
<output wsam:Action="http://controller/idtrackerws/getExpiredIDsResponse" message="tns:getExpiredIDsResponse"/>
</operation>
<operation name="getCustomerByID">
<input wsam:Action="http://controller/idtrackerws/getCustomerByIDRequest" message="tns:getCustomerByID"/>
<output wsam:Action="http://controller/idtrackerws/getCustomerByIDResponse" message="tns:getCustomerByIDResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://controller/idtrackerws/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://controller/idtrackerws/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="testImage">
<input wsam:Action="http://controller/idtrackerws/testImageRequest" message="tns:testImage"/>
<output wsam:Action="http://controller/idtrackerws/testImageResponse" message="tns:testImageResponse"/>
</operation>
<operation name="saveAddress">
<input wsam:Action="http://controller/idtrackerws/saveAddressRequest" message="tns:saveAddress"/>
<output wsam:Action="http://controller/idtrackerws/saveAddressResponse" message="tns:saveAddressResponse"/>
</operation>
<operation name="getCustomers">
<input wsam:Action="http://controller/idtrackerws/getCustomersRequest" message="tns:getCustomers"/>
<output wsam:Action="http://controller/idtrackerws/getCustomersResponse" message="tns:getCustomersResponse"/>
</operation>
</portType>
<binding name="idtrackerwsPortBinding" type="tns:idtrackerws">
    <wsp:PolicyReference URI="#idtrackerwsPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCustomersBySurname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMembershipCharges">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExpiredIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="idtrackerws">
<port name="idtrackerwsPort" binding="tns:idtrackerwsPortBinding">
<soap:address location="http://idserver:8080/IDTrackerServer/idtrackerws"/>
</port>
</service>
    <wsp:Policy wsu:Id="idtrackerwsPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:KeyStore wspp:visibility="private" type="JKS" storepass="changeit" alias="xws-security-client"/>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="changeit" peeralias="xws-security-server"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>